# Google Cloud Configuration
GCP_PROJECT_ID=your-project-id-here
GCP_DATASET_ID=analytics_data_gold
GCP_TABLE_ID=crypto_historical_trends

# Authentication
# Path to your Service Account JSON key
GOOGLE_APPLICATION_CREDENTIALS=auth/gcp-service-account.json

# MLOps Configuration
MLFLOW_TRACKING_URI=./mlruns
